
$DIN-font-path: "../fonts/DIN";
$Myrid-font-path:"../fonts/myrid";

@font-face {
    font-family: $fontfamilymyrid;
    src: url("#{$Myrid-font-path}/Myriad Pro Regular.ttf");
}

@font-face {
    font-family: $fontfamilydinregular;
    src: url("#{$DIN-font-path}/DIN Regular.ttf");
}

@font-face {
    font-family: $fontfamilydinrebold;
    src: url("#{$DIN-font-path}/DIN Bold.ttf");
}