// Author - Akanksha jain(20/11/2021)
//  Define standard variables, values, colors, and breakpoints

// colors variables
$blackcolor: #000000;
$whitecolor: #ffffff;
$orangecolor: #f78806;
$skybluecolor: #17aacf;
$darkgraycolor: #3d3d33;
$footerborderorangecolor: rgb(255, 204, 121);
$graybgcolor: #e8e8e8;

// Fontsize variable
$fontsize18: 18px;
$fontsize24: 24px;
$fontsize14: 14px;

// Sizes variable
$pl5: 5px;
$pr5: 5px;
$pl10: 10px;
$pr10: 10px;
$mt20: 20px;
$mb20: 20px;
$mb50: 50px;

// fonts variable
$fontfamilymyrid: Myrid pro regular;
$fontfamilydinregular: DIN Regular;
$fontfamilydinrebold: DIN bold;

// Breakpoints variable
$layout-breakpoint-small: 575px;
$layout-breakpoint-large: 1200px;

